<div class="container">
<% if @range == "User" %>
<h3>ユーザー検索結果</h3>
<% @users.each do |user| %>
<% if user.deactivated? %>
<% else %>
<div><%= link_to user_path(user.id) do %><%= user.name %><% end %></div>
<% end %>
<% end %>

<% else %>

<h3>投稿検索結果</h3>
<table class="table">
  <tr>
    <th>タイトル</th>
    <th>ユーザー</th>
    <th>投稿日</th>
  </tr>
  <% @impressions.each do |impression| %>
  <tr>
    <td><%= link_to impression_path(impression.id) do %><%= impression.title %><% end %></td>
    <td><%= impression.user.name %></td>
    <td><%= impression.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <% end %>
</table>

<% end %>
</div>