<div class="container">
<h1>古今東西ゲーム愛好会へようこそ！</h1>
<%= flash[:notice] %>
<h2>ご案内</h2>
このサイトがどんな内容かは<%= link_to "こちら", about_path %>から

<h3>新着投稿</h3>
<% @impressions.each do |impression| %>
<div><%= link_to impression_path(impression.id) do %>
<%= impression.title %>
<%= impression.created_at.strftime('%Y/%m/%d') %>
<% end %></div>
<% end %>
<div><%= link_to "全ての投稿を見る", impressions_path %></div>
</div>

<div><%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path,method: :post %></div>