<div class="container">
<h2>投稿編集</h2>
<%= form_with model: @impression, url: impression_path(@impression.id), method: :patch do |f| %>
<div>タイトル<br><%= f.text_field :title %></div>
<div>本文<br><%= f.text_area :body %></div>
<%= f.submit '編集完了' %>
<% end %>
<%= link_to "削除する", impression_path(@impression), method: :delete, data: {confirm: "本当に削除しますか？"} %>
</div>