<div class="container">
<h2>全体投稿一覧</h2>
<%= flash[:notice] %>
<table class="table">
  <tr>
    <th>タイトル</th>
    <th>投稿者</th>
    <th>投稿日時</th>
  </tr>
  <% @impressions.each do |impression| %>
  <tr>
    <td><%= link_to impression_path(impression.id) do %><%= impression.title %><% end %></td>
    <td><%= impression.user.name %></td>
    <td><%= l impression.created_at %></td>
  </tr>
  <% end %>
</table>
<%= pagenate @inpressions %>
</div>