<div class="container">
<% if user_signed_in? %>
<%= flash[:notice] %>
<% end %>
<h4>タイトル：<%= @impression.title %> 投稿者：<%= @impression.user.name %></h4>
<div><%= @impression.body %></div>
<div>投稿日：<%= @impression.created_at.strftime('%Y/%m/%d') %></div>
<div>更新日：<%= @impression.updated_at.strftime('%Y/%m/%d') %></div>
<% if @impression.user == current_user %>
<div><%= link_to "投稿を編集する", edit_impression_path(@impression.id) %></div>
<div><%= link_to "投稿を削除する", impression_path(@impression), method: :delete, data: {confirm: "本当に削除しますか？"} %></div>
<% end %>

<div><% if user_signed_in? %>
<% if @impression.favorited_by?(current_user) %>
<%= link_to impression_favorite_path(@impression), method: :delete do %>
<%= @impression.favorites.count %>いいね
<% end %>
<% else %>
<%= link_to impression_favorite_path(@impression), method: :post do %>
<%= @impression.favorites.count %>いいね
<% end %>
<% end %>
<% else %>
<%= @impression.favorites.count %>いいね
<% end %></div>

<h5>コメント一覧</h5>
<% if @impression.comments.empty? %>
<div>まだコメントはありません</div>
<% else %>
<div><% @impression.comments.each do |comment| %>
<div><%= comment.user.name %>：<%= comment.comment %></div>
<% if comment.user == current_user %>
<%= link_to "削除", impression_comment_path(comment.impression, comment), method: :delete %>
<% end %>
<% end %>
</div>
<% end %>
<% if user_signed_in? %>
<div>コメントはここから
<%= form_with model: [@impression, @comment] do |f| %>
<%= f.text_area :comment %>
<%= f.submit '送信'%>
<% end %>
</div>
<% end %>
</div>