<h3>投稿詳細</h3>
<div><%= flash[:notice] %></div>
<div><%= @impression.title %></div>
<div><%= @impression.body %></div>
<% if @impression.user == current_user %>
<div><%= link_to "編集", edit_impression_path(@impression.id) %></div>
<div><%= link_to "削除", impression_path(@impression.id), method: :delete, "data_confirm" => "後悔しませんね？" %></div>
<% end %>