<div class="container">
<%= flash[:notice] %>
<h3>通報詳細</h3>
<div>通報ID：<%= @report.id %></div>
<div>問題の会員：<%= link_to admin_user_path(@report.reported_id) do %><%= @report.reported.name %><% end %></div>
<div>理由：<%= @report.reason %></div>
<div>通報者：<%= @report.reporter.name %></div>
<div>対応ステータス：
<%= @report.status %>
<%= form_with model: @report, url: admin_report_path(@report), method: :patch, local: true do |f| %>
<%= f.select :status, Report.statuses.keys.map { |k| [t("enums.report.status.#{k}"), k] } %>
<%= f.submit "更新" %>
<% end %></div>
</div>