<div class="container">
<div><%= flash[:notice] %></div>
<h5>マイページ</h5>
<div class="row">
  <div class="col">
    <div>ID：<%= @user.id %></div>
    <div>名前：<%= @user.name %></div>
    <div>自己紹介：<%= @user.introduction %></div>
    <% if user_signed_in? %>
    <% if current_user.id == @user.id %>
    <%= link_to "マイページを編集する", edit_user_path(current_user.id) %>
    <% end %>
    <% end %>
  </div>
  <% if current_user && current_user.id != @user.id %>
  <div class="col">
    <% if current_user.following?(@user) %>
    <%= link_to "フォロー外す", user_relationship_path(user_id: @user.id), method: :delete %>
    <% else %>
    <%= link_to "フォローする", user_relationships_path(user_id: @user.id || ''), method: :post %>
    <% end %>
  </div>
  <% end %>
</div>

<% if user_signed_in? %>
<% if current_user.id == @user.id %>
<div><%= link_to "新規投稿", new_impression_path %></div>
<% end %>
<% end %>
<div><%= link_to users_impressions_index_path(@user.id) do %><%= @user.name %>さんの投稿一覧<% end %></div>
<div><%= link_to "フォロー一覧", user_followings_path(@user.id) %></div>
<div><%= link_to "フォロワー一覧", user_followers_path(@user.id) %></div>
<div><%= link_to "いいねした投稿一覧", users_favorites_path(@user.id) %></div>
</div>